<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  <h1>Netflis</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-list>
      <a mat-list-item routerLink="listar"><mat-icon>view_comfy</mat-icon>Views</a>
      <a mat-list-item routerLink="adicionarProduto"><mat-icon>add_circle_outline</mat-icon>Filme</a>
      <a mat-list-item routerLink=""><mat-icon>add_circle_outline</mat-icon>Categoria</a>
      <a mat-list-item routerLink=""><mat-icon>add_circle_outline</mat-icon>Genero</a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: calc(100vh - 64px);">
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
