<div *ngIf="newCategoria == true">
  <mat-form-field class="d-block">
    <mat-label>nome</mat-label>
    <textarea matNativeControl [(ngModel)]="adicionarCategoria.nome_categoria" ></textarea>
  </mat-form-field>
  <button mat-button (click)="adicionar()">
    <mat-icon> add_shopping_cart</mat-icon>
    Adicionar
  </button>
  <button mat-button (click)="fechar()">
    <mat-icon> clear</mat-icon>
  </button>
</div>
<div *ngIf="newCategoria== false">
  <button mat-button color="primary" (click)="categoriaNew()">Adicionar uma nova Categoria</button>
</div>
<div>
  <h1>Categoria</h1>
  <mat-list role="list" *ngFor="let categoria of listaCategoria">
    <mat-list-item role="listitem">
      {{categoria.nome_categoria}}
      <button mat-icon-button (click)="excluir(categoria.id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-icon-button (click)="inputEditar(categoria)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<div *ngIf="input == true">
  <h2>Atualizar</h2>
  <mat-form-field class="d-block">
    <mat-label>Nome</mat-label>
    <input matInput matNativeControl:text [(ngModel)]="adicionarCategoria.nome_categoria">
  </mat-form-field>
  <button mat-button (click)="editar()">
      <mat-icon> donut_small</mat-icon>
      Atualizar
  </button>
  <button mat-button (click)="fechar()">
    <mat-icon> clear</mat-icon>
  </button>
</div>

