<mat-card-content style="display:flex; padding: 2rem;   flex-wrap: wrap">
  <mat-card style="padding: 1rem;" *ngFor="let filme of listaFilmes">

    <img src="{{filme.url_filme}}" alt="" mat-card-lg-image>
    <mat-card-title>{{filme.title_filme}} </mat-card-title>
    <mat-card-subtitle>{{filme.categoria}}</mat-card-subtitle>
    <mat-card-subtitle>{{filme.descricao}}</mat-card-subtitle>
    <mat-card-subtitle>{{filme.ano_filme}}</mat-card-subtitle>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

  </mat-card>
</mat-card-content>
