<div>
<mat-form-field class="d-block">
  <mat-label>Title filme</mat-label>
  <input matInput matNativeControl:text [(ngModel)]="adicionarFilme.title_filme">
</mat-form-field>
<mat-form-field class="d-block">
  <mat-label>URL Imagem</mat-label>
  <input matInput matNativeControl:text [(ngModel)]="adicionarFilme.url_filme">
</mat-form-field>
<mat-form-field class="d-block">
  <mat-label>Categorias</mat-label>
  <mat-select name="categoria"  [(ngModel)]="adicionarFilme.categoria">
    <mat-option *ngFor="let categoria of listaCategoria" value="{{categoria.nome_categoria}}">
      {{categoria.nome_categoria}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="d-block">
  <mat-label>Generos</mat-label>
  <mat-select name="genero"  [(ngModel)]="adicionarFilme.genero">
    <mat-option *ngFor="let genero of listaGenero" value="{{genero.nome_genero}}">
      {{genero.nome_genero}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="d-block">
  <mat-label>Ano de lançamento</mat-label>
  <input matInput matNativeControl:number [(ngModel)]="adicionarFilme.ano_filme" min="0" max="9999" placeholder>
</mat-form-field>
<mat-form-field class="d-block">
  <mat-label>Descrição</mat-label>
  <textarea matNativeControl [(ngModel)]="adicionarFilme.descricao" ></textarea>
</mat-form-field>
<button mat-button (click)="adicionar()">
  <mat-icon> add_shopping_cart</mat-icon>
  Adicionar
</button>
</div>
